@use 'properties' as prop;

.title {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

@media screen and (max-width: prop.$p-breakpoint-xsmall) {
  .title {
    font-size: 1rem;
    margin-bottom: 16px;
  }
}
