<app-page-title [title]="'Slides'"></app-page-title>
<section class="section">
  <ul>
    <li class="list-item" *ngFor="let slide of slideList">
      <p>{{ slide.date }}</p>
      <a href="{{ slide.event.url }}">{{ slide.event.name }}</a> @ <a href="{{ slide.slide.url }}">{{ slide.slide.name }}</a>
    </li>
  </ul>
</section>

<app-page-title [title]="'SNS'"></app-page-title>
<section class="section">
  <ul>
    <li class="list-item" *ngFor="let sns of snsList">
      <a href="{{ sns.url }}">{{ sns.serviceName }}</a>
    </li>
  </ul>
</section>

<app-page-title [title]="'OSS'"></app-page-title>
