.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 48px;
  background-color: #222;
}

.title {
  color: aliceblue;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:not(:last-child) {
  margin-right: 12px;
}
