@import '../../../assets/styles/properties';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 48px;
  background-color: #222;
  box-sizing: border-box;
}

.title {
  color: aliceblue;
  font-size: 1rem;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:not(:last-child) {
  margin-right: 12px;
}

@media screen and (max-width: $p-breakpoint-xsmall) {
  .header {
    padding: 0 12px;
    font-size: 0.8rem;
  }
}
