<section class="section">
  <table mat-table [dataSource]="slideList">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>日付</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="slide">
      <th mat-header-cell *matHeaderCellDef>スライド</th>
      <td mat-cell *matCellDef="let element">
        <a appExternalLink href="{{ element.slide.url }}">{{ element.slide.name }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef>イベント</th>
      <td mat-cell *matCellDef="let element">
        <a appExternalLink href="{{ element.event.url }}">{{ element.event.name }}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
