@import '../../../../../assets/styles/properties';

.blog-item {
  min-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
}

.blog-item-date {
  display: inline-block;
  margin-right: 12px;
}

.blog-item-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.category {
  list-style-type: none;
  box-sizing: border-box;
}

.category-item {
  font-size: 10px;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 4px;
  margin: 4px;
}

@media screen and (max-width: $p-breakpoint-xsmall) {
  .blog-item {
    min-height: 40px;
    font-size: 12px;
  }

  .blog-item-date {
    margin-right: 8px;
  }
}
