.blog-item {
  min-height: 60px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

.blog-item-date {
  display: inline-block;
  margin-right: 12px;
}

.blog-item-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.category {
  list-style-type: none;
  box-sizing: border-box;
}

.category-item {
  font-size: 12px;
  display: inline-block;
  border: 1px dashed #aaa;
  box-sizing: border-box;
  padding: 4px;
  margin: 8px;
}
